[2020-01-19 12:26] hsl20130659 opened #1 "有效果吗？"
你好，你复现出效果来了吗？我也在复现这篇文章，可以交流一下，方便加个QQ吗

[2020-01-19 14:22] taotaonice commented on #1
OK 我加你吧

[2020-01-19 14:24] hsl20130659 commented on #1
我的qq是913452977

[2020-01-20 02:54] bobofzhang commented on #1
您好，我也在研究这个，能加个好友吗？

[2020-01-20 03:00] taotaonice commented on #1
留你的联系方式吧

[2020-01-20 03:03] bobofzhang commented on #1
微信二维码：
![WechatIMG108](https://user-images.githubusercontent.com/2577743/72695687-6978f000-3b74-11ea-817b-6e54af3e7d07.jpeg)

[2020-01-20 03:10] taotaonice commented on #1
I am in the first stage now, and I haven`t get a satisfied result yet

[2020-01-20 03:12] taotaonice commented on #1
I am in the first stage now, and I haven't got a satisfying result yet

[2020-01-20 03:23] hsl20130659 commented on #1
感兴趣的可以加群825125063 交流讨论

[2020-01-22 13:45] hhhharold opened #2 "How was the performance of the model compared with the one in the paper?"

[2020-01-22 16:42] taotaonice commented on #2
I am now verifying my code is correct but it can generate some OK fake face

[2020-01-23 01:18] hhhharold commented on #2
I am trying to train the model but there I was wonder that how can I get the embed.pkl file?

[2020-01-23 02:57] hhhharold commented on #2
I am trying to train the model. How can I install the libnvjepg package? My cuda version is 10.2.

[2020-01-23 04:06] taotaonice commented on #2
You can simply change it to cv2.imread

[2020-01-23 04:07] taotaonice commented on #2
You can simply change the "libnvjpeg" to "cv2.imread", they are almostly same

[2020-01-23 08:46] hhhharold commented on #2
Thanks~~ In the train script, why the c_id was set to be 512 instead of 256?

[2020-01-23 08:53] taotaonice commented on #2
In the paper, the c_id is of dimension 256, it is defined to be the output face embed of a face recognition network, but face recognition network in my code outputs embed of dimension 512

[2020-01-23 12:06] Arthurzhangsheng commented on #1
楼上这群号有误吧，查无此QQ群
我创了一个复现交流群，感兴趣的可以加1032896086

[2020-01-23 13:36] hhhharold commented on #2
How long does it take for training? I set batch size of 8 and other parameters are kept the same as your default. One epoch took more than 4 hours...... The whole number of dataset is 200K.

[2020-01-23 13:41] taotaonice commented on #2
I use a Tesla V100 (32GB) to train the model, batch_size is 16 , time cost of one iteration is about 0.6~0.8 Second

[2020-01-23 13:41] taotaonice commented on #2
with the help of mixed precision

[2020-01-23 13:51] taotaonice commented on #2
I have updated the code, a little change in the network structure and training script, it will be faster without decrease the performance

[2020-01-24 08:37] taotaonice commented on #1
![Screenshot_20200124_163543_com android chrome](https://user-images.githubusercontent.com/21911551/73055378-9ce6b200-3ec7-11ea-92b9-7040359c081d.jpg)
I have got this after training of the first stage

[2020-01-25 11:50] ainrichman opened #3 "Any training details?"
How many epochs does it cost to obtain reasonable results?

[2020-01-25 12:13] taotaonice commented on #3
I am not sure about that, because I trained it on celeb-a-HQ only, with many modifications during the training process. I guess about 20 epochs.

[2020-01-25 12:34] taotaonice commented on #3
I am not sure about that, because I trained it on celeb-a-HQ only, with many modifications during the training process. I guess about 20 epochs.

[2020-01-25 14:49] hhhharold commented on #2
Happy Chinese New year!!! I have trained about 6 epoch but the performance is not well. How many epoch have you trained to get a relatively well performance for face swap?

[2020-01-25 15:04] Arthurzhangsheng commented on #1
Happy new year~ and how long did you get this result?

[2020-01-25 15:53] taotaonice commented on #2
Thank you! I have trained for a long time, but I think 30 epochs is enough to see a relatively well result

[2020-01-25 16:17] taotaonice commented on #1
I have trained for a long time, maybe several days

[2020-01-25 16:18] taotaonice commented on #1
I have trained for a long time, maybe several days

[2020-01-27 05:05] hhhharold commented on #2
I have trained for several days but cannot get a satisfied performance. The reason maybe the limited computing resources. Would you mind sharing your weights so that I can do some tests and continue training using other datasets.

[2020-01-27 10:56] taotaonice commented on #2
OK, leave me your email address

[2020-01-27 11:50] hhhharold commented on #2
haozhew@qq.com  Thanks you～～

[2020-01-28 02:21] hhhharold commented on #2
When I am trying to load the weights, an error occurred. Here is the detail of the error:

![image](https://user-images.githubusercontent.com/48979458/73230341-d402df00-41b7-11ea-96ac-eaf9b6344e4b.png)

The reason may be the weight file was damaged?

[2020-01-28 03:25] taotaonice commented on #2
maybe you should update your network/AADLayer.py from my github

[2020-01-28 03:44] guiweit opened #4 "Training Datasets and pre-trained weights"
Happy Chinese New year!!!
I wan to run the traing, Can you teach me how set the Training Datasets?
Would you mind sharing your weights so that I can do some tests and continue training using datasets.

[2020-01-28 05:32] hhhharold commented on #2
I have done several steps to figure out the reason why the error occurred.
1.  I have updated my network but the error still occurred.
2.  I re-download the weights and try to load again but the error still occurred.
3.  I try to load the weights on another computer but the error still occurred.
4.  I download the weights of my trained model and load successfully.
Maybe the difference of the pytor

[2020-01-28 09:31] #4 closed

[2020-01-28 09:33] guiweit commented on #4
Thanks very much for your great job!  Now I can run the training! Thanks again!

[2020-01-29 07:52] ainrichman commented on #3
Could you please share me your well trained weights? victorzuo@outlook.com

[2020-01-31 11:39] ofirkris opened #5 "Trained weights"
Hello, thanks for sharing this implementation.
I'm learning about face swap and am interested to train with the weights you've tested with, can you kindly share them here?

[2020-02-01 03:52] taotaonice commented on #5
OK, Leave me your email address

[2020-02-01 03:52] taotaonice commented on #5
OK, leave me your email address

[2020-02-01 04:56] o0Helloworld0o commented on #5
Can you also share your well-trained weights? My email address is o0helloworld0o@outlook.com. Thank you!

[2020-02-01 17:43] ofirkris commented on #5
Thanks!
ofirseo AT gmail.com

[2020-02-03 17:01] jjandnn commented on #5
@taotaonice   Follow you.BR. THS!!!
dujun219@163.com

[2020-02-05 08:42] jucaowei opened #6 "你好，我最近也在尝试复现这篇工作，想跟你交流一下"
，然后发现dst图像放到identity

[2020-02-05 18:40] happy151d commented on #5
Could you please share the pretrained weight file?
happy151d@gmail.com. It's my email address, and thank you for sharing it.

[2020-02-05 23:51] guiweit commented on #5
Thank you for sharing the code!
Can you also share your well-trained weights? My email address is guiweit@icloud.com Thank you!

[2020-02-07 12:17] lishiyuwhu commented on #5
It would be great if you could share the pretrained weight!!   lishiyuwhu@gmail.com . Thank you.

[2020-02-10 12:02] Edelbert commented on #5
@taotaonice
I was wondering, if you could send me a pre-trained weights as well.
2731566593@qq.com

[2020-02-11 07:01] puppet101 commented on #5
@taotaonice Could you please share me with your pretrained weights? Thank you !

[2020-02-11 09:42] Dian-Yi opened #7 "没有HearNet 的训练？"
我简单研究了下论文， HearNet训练部分还没有完成么？

[2020-02-11 09:58] taotaonice commented on #7
刚刚开始stage2, 现在在准备数据

[2020-02-11 09:59] taotaonice commented on #7
刚刚开始stage2, 现在在准备数据

[2020-02-11 10:00] taotaonice commented on #5
E-mail adress ?

[2020-02-11 10:00] taotaonice commented on #5
E-mail address ?

[2020-02-11 10:02] Dian-Yi commented on #7
stage1 容易训坏么？论文里面有很多细节没说，感觉容易训坏， 而且loss 也很多， 不容易平衡（训练时有个loss 可能永远不会降），也没有说discriminator的结构

[2020-02-11 10:10] taotaonice commented on #7
个人感觉不容易训坏，我的理解L_attr 和 L_rec 单从数值上并不能很好反映网络学习到的东西，L_adv就更不用说，L_id是可以比较正常反映Yt多像Xs，欢迎加入FaceShifter讨论QQ群：825125063

[2020-02-11 11:47] hsl20130659 commented on #1
之前群资料没完善，导致很多人加不进来，现在已经正常了，欢迎大家进来交流

[2020-02-11 13:31] rookiecm opened #8 "Pretrain Model of Arcface"
Could you please provide the pretrained model of Arcface using in your project? Thanks.

[2020-02-11 13:34] rookiecm commented on #8
My email address is mengcao@pku.edu.cn

[2020-02-11 13:34] taotaonice commented on #8
https://github.com/TreB1eN/InsightFace_Pytorch
I downloaded code from this project, it provides the pretrained arcface weights for downloading, model      name is ir_se50

[2020-02-11 13:38] rookiecm commented on #8
Thank you. And is it convenient to provide your trained models of Generator and Discriminator. My email address is hustfreecm@gmail.com.

[2020-02-11 14:34] lishiyuwhu opened #9 "About finetune"
![ezgif-6-f9786f7bdf9e](https://user-images.githubusercontent.com/7754393/74243745-3a8d0e80-4d1b-11ea-8e42-433a20521549.gif)
I test your weights(only AEI-NET) and it seems great, but for Asian face the performance is not as goods as this. So I want to finetune on Asian face set.

Should I use ` With_Identity('../washed_img/', 0.8) ` to fintune? And what's the `classes` in With_Identity()?
[code]

[2020-02-11 14:51] taotaonice commented on #9
It(With_Identity) is my try to improve the performance, but it does not work fine as I guess, so it is deprecated.
You can finetune it just like normal training process(Using FaceEmbed).

[2020-02-11 14:54] lishiyuwhu commented on #9
Thanks!

[2020-02-11 14:54] #9 closed

[2020-02-11 15:47] puppet101 commented on #5
missly101@gmail.com

Thank you!

[2020-02-12 03:18] rookiecm opened #10 "Line 105 in train_AEI.py"
I am confused about line 105 in train_AEI.py which is `same_person = diff_person`.  Could you please explain it ?

[2020-02-12 04:15] taotaonice commented on #10
It is not a bug but my bad coding habit, I just want to set same_person and diff_person to all-one vector. I make a little change from the paper: I also  define the L_rec on different person. I think this way may let Yt like Xs more in region that arcface interests in, Yt like Xt more in region that arcface does't care.

[2020-02-13 03:32] taotaonice commented on #1
你这个我加了好几次都没有反应啊

[2020-02-13 09:04] rookiecm opened #11 "Line 100 in train_AEI.py"
Could you please expalin why you crop Xs to Xs[19:237, 19:237] before sending to arcface ? The code lies in Line 100 of train_AEI.py ?
`embed, Xs_feats = arcface(F.interpolate(Xs[:, :, 19:237, 19:237], [112, 112], mode='bilinear', align_corners=True))`

[2020-02-13 09:26] taotaonice commented on #11
When I perform face alignment on face datasets which is used in arcface, I found that the aligned faces usually miss chin.  So I enlarge the side of all the bounding box by a factor of 1/0.85.

[2020-02-13 09:27] taotaonice commented on #11
When I perform face alignment on face datasets which method is used in arcface, I found that the aligned faces usually miss chin. So I enlarge the side of all the bounding box by a factor of 1/0.85.

[2020-02-13 09:29] taotaonice commented on #11
So Xs[:, :, 19:237, 19:237] is the aligned face for arcface

[2020-02-13 09:47] rookiecm commented on #11
Great discovery !

[2020-02-13 13:29] lzhbrian commented on #11
Could you please explain how do you find that Xs[:, :, 19:237, 19:237] is the aligned face for arcface? @taotaonice

[2020-02-13 14:55] taotaonice commented on #11
...... I enlarge the face alignment bounding box by a factor of 1/0.85 and crop size is (256, 256), so Xs[:, :, 19:237, 19:237] is the aligned face

[2020-02-14 06:40] slxge commented on #5
@taotaonice Hi! I also want to contribute to your reproduction experiment. Could you share me a pre-trained weight? Thank you.
slxge46@gmail.com

[2020-02-17 08:31] Nerdyvedi opened #12 "AttributeError: 'tuple' object has no attribute 'reshape'"
Line 102 , network/AEI_Net.py

`m = self.up1(z_id.reshape(z_id.shape[0], -1, 1, 1))`

Is z_id supposed to be a tuple, a numpy array or a tensor ?

I converted z_id into a numpy array, and then I get the following error:
conv_transpose2d(): argument 'input' (position 1) must be Tensor, not numpy.ndarray

[2020-02-17 08:52] taotaonice commented on #12
z_id should be a torch tensor of size (batch_size, c_id)

[2020-02-17 09:01] Nerdyvedi commented on #12
Should I then convert the tuple to tensor and use view instead of reshape?

Also Could you please send me the saved weights of the network(The latest network).

Thanks a lot for this amazing work.

[2020-02-17 12:04] uptodiff commented on #5
Thank you for sharing the project! Could you please share me with your pretrained weights?
yunjuanys@foxmail.com

[2020-02-17 12:05] uptodiff commented on #5
@taotaonice Thank you for sharing the project! Could you please share me with your pretrained weights?
yunjuanys@foxmail.com

[2020-02-17 12:49] taotaonice commented on #12
I forgot to update code in inference_demo. Actually, embeds[0] is the embeds here, embeds[1] is deprecated.
Please leave me your e-mail address, I will send you the latest weights.

[2020-02-17 17:10] Nerdyvedi commented on #12
Email : jhavedantamay@gmail.com

[2020-02-18 10:14] Nerdyvedi commented on #12
@taotaonice , I would be really grateful if you could send me the weights

[2020-02-18 10:28] taotaonice commented on #12
I have sent you the weights several hours ago, maybe something goes wrong, I will send you the weights again

[2020-02-18 10:40] Nerdyvedi commented on #12
@taotaonice , I did not receive a mail from you. Could you send me your email ?  I have few doubts I need to ask from you as well . Extremely sorry to disturb you.

[2020-02-18 12:59] taotaonice commented on #12
Maybe in the spam ?
Mine is 335702517@qq.com

[2020-02-19 21:34] ocastan commented on #5
Looks nice. One more request: can you share your pretrained weights with me ? ocastan@gmail.com
Thanks in advance

[2020-02-21 06:37] littleqing0914 commented on #1
你好，我放假前刚看了这篇论文，最近也在做基于视频的人脸替换，可以交流一下吗？QQ770109755

[2020-02-22 17:49] Pigeon990 commented on #5
I also want pretrained weights. Thank you! m861052700@yandex.com

[2020-02-27 05:47] kingwangxiang commented on #5
@taotaonice Thank you for sharing the project! I have reproduced this article recently, and I still don't get a good result. can you share your pretrained weights with me ? wangx2827@gmail.com

[2020-02-27 16:03] rookiecm commented on #12
Hi, have you get better result after change the channel to BRG ? My training version has limited performance maybe due to the computation resources. Could you please send me your latest trained model?  My e-mail address is hustfreecm@gmail.com. Thak you !

[2020-02-28 01:28] haiautoup commented on #5
Hi @taotaonice
Could you please share your well-trained weights to my email address: hailh.vnu@gmail.com?
Thank you for sharing the code!

[2020-02-28 18:15] ocastan opened #13 "Line 114 in train_AEI.py"
Should you discard gradient calculation like in line 97 when computing arcface embeddings ?

[2020-03-01 06:08] taotaonice commented on #13
Yes. We would not like to update parameters of arcface.

[2020-03-01 15:54] yfji opened #14 "RuntimeError: expected scalar type Half but found Float"
I train AEI net and the error is "expected scalar type Half but found Float"
I found this error is caused by L_id. After I delete L_id from lossG the error becomes "CUDA error: an illegal memory access was encountered"
`with amp.scale_loss(lossG, opt_G) as scaled_loss:
            scaled_loss.backward()`

[2020-03-02 10:10] taotaonice commented on #14
I have never met this situation

[2020-03-02 11:06] VictorBebnev commented on #5
Hi @taotaonice
It would be great if you could share the pretrained weight! Thanks.
bebnev.victor@gmail.com

[2020-03-05 07:25] ocastan opened #15 "AEI training weights loading"
Can you please explain why you are loading D and G weights on the cpu with a model on gpu ?
Thanks in advance

[2020-03-06 06:01] ocastan commented on #14
Not sure if it's the same problem but I had a similar error (LongTensor instead of FloatTensor). Since I'm using conda, I made it uninstall pytorch, cudatoolkit, nvidia-apex and cudnn, and I just asked pytorch and nvidia-apex re-installation, using the conda-forge channel, and the error disappeared. I hope it will help

[2020-03-06 08:47] huboqiang commented on #3
Hi, I found if I use the current [master branch](https://github.com/taotaonice/FaceShifter/commit/376b09e4ecc97848c07c585f173d10932880f961) for training, the source face would not be swapped into target after 20 epochs using celeb-a-HQ.

As I found there are many history updates for the code, focusing on revising `samp_prob`, `lambda_id`,  I just want to know some detailed information about traini

[2020-03-09 18:32] ocastan opened #16 "Line 126 in AEI_Net.py"
I'm still struggling with AEI learning: I had to reduce the batch size to 5 due to my card memory, but it collapse between 10 and 14 epochs. I'm trying another optimiser (ranger) which hasn't collapsed so far, but it's painfully slow.
I may try other tricks like different optimisers for G and D or gradient accumulation...
Currently my question is: why have you commented out torch,no_grad in get_at

[2020-03-10 08:15] taotaonice commented on #16
You are right. At first, I didn't think about it very carefully, and recently I notice this. At the moment, I am training for that whether Y should contribute to gradient calculation, and now I think Y should be .detach().

[2020-03-10 11:04] ocastan commented on #16
I'm beginning with ML but my understanding is that detach will make Y a leaf but that gradient will still accumulate in your encoder graph and on the other hand no_grad is supposed to disable any gradient accumulation. I would rather uncomment the line or do both

[2020-03-10 14:26] taotaonice commented on #16
Your method is almost same with mine, they have the same objective of optimization.

[2020-03-10 14:55] ocastan commented on #16
Ok. no_grad may be able to save more memory?

[2020-03-10 15:40] ocastan commented on #16
After thinking about it, I'm not sure you should change anything: the attribute loss is the L2 distance between Yatt which is encoder(generator(encoder(Xt), z_id)) and Xatt which is encoder(Xt)
If you detach Y, the backprop will update the encoder weights, if you do not it will update both the encoder and the generator weights
But I'm not sure

[2020-03-11 05:01] taotaonice commented on #16
I think L_attr should be just related with attr encoder, unrelated with generator, so I should only update weights of attr encoder.

[2020-03-11 05:47] AlphaQi commented on #5
Hi @taotaonice
Could you please share your well-trained weights to my email address: kk_farida@163.com?
Thank you for sharing the code!

[2020-03-11 06:03] ocastan commented on #16
I give it a try since I have no attribute transfer after 38 epochs

[2020-03-11 14:11] heartInsert commented on #1
我知道你们想干什么，楼上的

[2020-03-11 14:47] heartInsert commented on #7
老铁，stage 2 完成了吗？

[2020-03-12 02:52] taotaonice commented on #7
stage 1还有一些问题

[2020-03-12 14:01] nikhiltiru commented on #5
Hey @taotaonice
Could you please share your trained weights to nikhil.tiru@gmail.com
Thank you for the code.

[2020-03-13 09:19] haiautoup opened #17 "batch_size on training"
Hi @taotaonice ,

I try to train your model on a K80 GPU with 12GB of memory
If I use batch_size 16, the program ends with "CUDA out of memory" error
I set batch_size 6, I check the program uses more than 10GB of memory.

Could you tell me the environment you can train with batch_size 16
and could you give some hints, how can we train the model on multi GPUs, cause I have two K80 cards.

Thank you

[2020-03-14 02:37] taotaonice commented on #17
I use a Tesla V100 with 32GB of memory.
Please google "pytorch data parallel", and use syncBatchNorm instead of BatchNorm

[2020-03-15 07:08] haiautoup commented on #17
Thank you @taotaonice !

[2020-03-15 07:08] #17 closed, assigned to nobody

[2020-03-15 10:38] ocastan commented on #16
I've tried with detach and no_grad, it consume less memory but I can't get any id transfer running for at least 40 epochs with or without detaching

[2020-03-15 10:59] yurijvolkov commented on #5
Hi @taotaonice !

Could you please shape  trained weights to me too: yurijvolkov2@gmail.com

Thanks in advance!

[2020-03-15 12:20] perc3ptr0n commented on #5
Hi @taotaonice!
Could you please share your weights with me too?
topchievboris97@gmail.com
Thanks in advance!

[2020-03-16 02:41] taotaonice commented on #16
But I can get better attribution performance with detach

[2020-03-16 04:22] tanshen commented on #5
Hi @taotaonice
Could you please share your well trained weights?
email: trustshen@163.com

[2020-03-16 12:09] ocastan commented on #16
Whatever I do, Y is almost like Xt and Xs does not seem to have any influence

[2020-03-16 21:48] pasquini-dario opened #18 "Reconstruction loss"
Thank for sharing your code.
The reconstruction loss implemented at:
https://github.com/taotaonice/FaceShifter/blob/376b09e4ecc97848c07c585f173d10932880f961/train_AEI.py#L123
is different from the one described in the original paper (i.e., Eq. 8).
Does this modified loss function have some advantages over the original one? Thank you.

[2020-03-18 05:26] WinnieLaugh commented on #5
Hi @taotaonice
Could you please share your weights with me too?
wenhualaugh@163.com
Thanks in advance!

[2020-03-18 09:07] taotaonice commented on #18
What is the difference that you say ?

[2020-03-18 22:55] haiautoup opened #19 "error in running training file"
Hi ,
I met this error when running the trai_AEI file

Traceback (most recent call last):
  File "train_AEI.py", line 131, in <module>
    ZY, Y_feats = arcface(F.interpolate(Y_aligned, [112, 112], mode='bilinear', align_corners=True))
  File "/usr/local/lib/python3.6/dist-packages/torch/nn/modules/module.py", line 539, in _call_
    result = self.forward(*input, **kwargs)
  File "/home/user/FaceSh

[2020-03-18 23:48] #18 closed, assigned to nobody

[2020-03-19 06:13] xiaosi420 commented on #5
Hi @taotaonice
Could you please share your well-trained weights to my email address: bayireyi@icloud.com?
Thank you for sharing the code!

[2020-03-20 06:24] ocastan commented on #15
I've tested and received an error about a seek interface missing. Looking at examples I have noticed torch.load is assigned to a python variable before invoking load_state_dict. I guess the GPU object is missing a seek interface and I can't directly upload to GPU.

[2020-03-20 06:24] #15 closed, assigned to nobody

[2020-03-20 06:30] ocastan commented on #13
According to my experience that was a bad idea: I've been trying multiple runs while appending detach() to Y_aligned and applying torch.no_grad() to the second call to arcface; it prevented L_id convergence and so face swap.

[2020-03-20 06:30] #13 closed, assigned to nobody

[2020-03-20 06:36] ocastan commented on #19
I had a similar issue. See [my comment](https://github.com/taotaonice/FaceShifter/issues/14#issuecomment-595614635) in issue #14 for the way I solved it.

[2020-03-24 08:01] gerysand commented on #16
hello, I'm an staff of a private fund, and quite interest on this application. May I have your mail and discuss some information with you? My mail gerysand#gmail.com (replace # with @).

Look forward to hear from you.

[2020-03-25 06:41] wangchao0899 commented on #5
Could you please share me with your pretrained weights? Thank you !
myEmail Adress：wangchao_2068@163.com

[2020-03-25 06:41] wangchao0899 commented on #5
Hi @taotaonice
Could you please share me with your pretrained weights? Thank you !
myEmail Adress：wangchao_2068@163.com

[2020-03-26 19:31] ocastan commented on #16
Have you achieved anything interesting with detach ? I let it run with detach for 62 epochs and I didn't achieve any success far from the performance of the weights you sent to me

[2020-03-29 05:26] tr0217 commented on #5
Hi @taotaonice , please could you share the trained weights? Thank you very much!

My email address is tr0217@my.bristol.ac.uk

Thanks in advance

[2020-03-30 04:04] xiefeiwhu commented on #5
Hi @taotaonice ,could you please share the trained weights? Thank you!

My email address is 1191715244@qq.com

Thanks in advance

[2020-03-31 02:27] lwcode commented on #5
Hi @taotaonice
Could you please share your weights with me too?Thank you!
my email address is jasonistone@126.com

[2020-03-31 08:24] Spharax commented on #5
Hi @taotaonice !

May I have the trained weights too?
My email address is cram.dijoux@gmail.com

Thank you in advance

[2020-04-01 13:47] lizijianlove commented on #5
Hi,@taotaonice !
Recently I am learning this model and is it convenient to provide your trained models of Generator and Discriminator. My email address is lizijianlove@yeah.net
Thanks a lot for this amazing work!

[2020-04-02 03:23] hao6699 commented on #5
Hi @taotaonice
Could you please share your weights with me too?Thank you!
my email address is 584774684@qq.com

[2020-04-02 10:30] ocastan opened #20 "Line 110 in train_AEI.py"
Hello

Can you explain why you did not use the mean for L_adv for calculating G loss but use it for loss_true and loss_fake when calculating D loss ?

Thanks in advance

[2020-04-03 13:12] xiefeiwhu commented on #3
I meet the same question, swap face did not work. Any method to solve this problem?

[2020-04-03 19:14] thepowerfuldeez commented on #5
Thank you for such great work! Can you send me weights to deezchannel@gmail.com ?

[2020-04-06 07:04] wataincdx commented on #5
Hi @taotaonice
Could you please share me with your pretrained weights? Thank you !
myEmail Adress：watain@163.com

[2020-04-07 07:03] dypromise opened #21 "which dataset did you use?"
Hi, taotonice
Nice work! paper author said he use CelebHQ\FFHQ\VGGface dataset, and  did not tell about some details about dataset. what dataset did you use? and since you have did some experiments,  could you give some suggestions or experience about trainning? thank you very much

[2020-04-08 05:46] zhuhaozh commented on #5
Hi, @taotaonice
Thanks for your great implement, could you kindly share the pretrained models?
here's my email: haozhu96@gmail.com

[2020-04-09 03:22] wangliqiang7 commented on #5
Could you please share the pretrained weight file?
18125260@bjtu.edu.cn. It's my email address, and thank you for sharing the code.

[2020-04-09 06:11] PRATEEKKUMARAGNIHOTRI commented on #5
Thank you for sharing the code!
Could you please share your weights with me too?  My email address is prateekkumaragnihotri@gmail.com .Thank you!

[2020-04-11 09:59] jigenji commented on #5
Thank you for sharing your code!!
Could you please share your weights?
My email address  is
skphysi929@gmail.com
Thank you!!

[2020-04-12 02:08] haiautoup opened #22 "build acceleration module"
Hi @taotaonice

I am building the acceleration module, things I found, point to using conda
But I do not use conda, could you give me some hints to build this module?

Thank you very much!
Hai Le

[2020-04-12 02:17] jjandnn commented on #22
# 编译acceleration这个文件夹（首次，注意pybind11 用conda）
git clone https://github.com/pybind/pybind11
python3.7 -m pip install pytest && cd pybind11 && mkdir build && cd build && cmake .. -DDOWNLOAD_CATCH=1 && sudo make install

%cd ~/FaceShifter/acceleration/build
!cmake ..
!make

[2020-04-12 03:35] haiautoup commented on #22
Hi @jjandnn
I follow your guide, it seems I installed libs
[100%] Built target cuda_postprocess
But when import cuda_postprocess
ModuleNotFoundError: No module named 'cuda_postprocess'
Could you help me what need  I do next?

Thank you very much!
HaiLe

[2020-04-12 08:10] jjandnn commented on #22
@haiautoup Are you using windows？
linux:
#!/bin/bash
pip install pytest easydict==1.7 matplotlib==3.0.2 xlib -i http://pypi.douban.com/simple --trusted-host pypi.douban.com
conda install pybind11 --yes
pip install ~/tensorflow_gpu-1.15.0-cp37-cp37m-manylinux2010_x86_64.whl
pip install ~/torch-1.4.0+cu92-cp37-cp37m-linux_x86_64.whl
pip install ~/torchvision-0.5.0+cu92-cp37-cp37m-linux_x86_64.whl
cd

[2020-04-12 09:08] haiautoup commented on #22
Hi @jjandnn
I appreciate your very carefully help.
I am using ubuntu 18.
I meat, it seems I am successful in building the modules
This is my acceleration/build folder
![build](https://user-images.githubusercontent.com/61568868/79065011-994d1500-7cd7-11ea-8f29-77c27df5b0d5.png)

But when importing the module with python3
import cuda_postprocess
ModuleNotFoundError: No module named 'cuda_postprocess

[2020-04-12 10:34] haiautoup commented on #22
It is Ok now!
I forgot make install
Thank you @jjandnn

[2020-04-12 10:34] #22 closed, assigned to nobody

[2020-04-12 17:28] jjandnn commented on #22
:)

[2020-04-13 02:39] ForrestPi commented on #5
Thank you for sharing the code!
Could you please share your weights with me too? My email address is
forrest_zhu@foxmail.com
Thank you!

[2020-04-14 05:19] taotaonice commented on #20
Not much difference

[2020-04-14 05:54] taotaonice commented on #21
About dataset, just as the paper said is OK. At the beginning of training, it is suggested to remove the GAN loss.

[2020-04-14 06:22] sravanth99 commented on #5
Thank you for sharing the code!
Could you please share your weights with me too? My email address is
sravanth.unity@gmail.com
Thank you!

[2020-04-14 12:50] fpandza commented on #5
Thank you for making the repo public!
Could you please share the weights with me as well?
filip.pandza1@gmail.com
Thank you!

[2020-04-15 16:01] ocastan commented on #21
I've replaced visdom with tensorboard to monitor the various loss and the discriminator scores. I noticed once the discriminator starts discriminating real from fake the generator can't compensate and does not learn anymore. To prevent this I update the discriminator every 10 iterations with good results so far.

[2020-04-16 06:47] ryo-123 commented on #5
Thank you so much for sharing the code!
Could you please share your weights with me too? My email address is
yoneryou@gmail.com
Thank you!

[2020-04-16 08:25] YotamNitzan commented on #5
Hi @taotaonice,
Thank you for make this repository public.
Could you please the weights with me as well ?
ynitzan@protonmail.com
Thank you !

[2020-04-16 10:10] fpandza opened #23 "Demo"
Hi Taotanice,

Firstly thank you for providing the pretrained generator model.

Secondly, I've tried running the demo_inference.py and the results are pretty inconsistent and not that great.
I also tried adjusting and running the code from online_preview.py, which has a bit more going on with the mask and everything, but without much success. I did find that opening target image in BGR mode made t

[2020-04-16 12:08] taotaonice commented on #21
thank you for your discovery

[2020-04-16 21:12] ocastan commented on #21
And I've added D.requires_grad_(False) before G gradient calculation and D.requires_grad_(True) before D gradient calculation.

[2020-04-17 04:44] taotaonice commented on #23
human eyes, on many test cases
But I know it is not rigorous. 233333333

[2020-04-17 09:13] leon-pi commented on #5
Thanks for publishing your code!
Could you please share your pre-trained weights with me as well?
l.pi@wwu.de
Thank you!

[2020-04-19 12:14] cjl99 commented on #5
Could you please share the pretrained weights?
My email is llinvincible9@gmail.com
Thank you so much!

[2020-04-19 12:24] ZXXYy commented on #23
Hi all,
where can I find the pretained generator model? Thank you so much.
Could you please send me a pretained model?

[2020-04-19 19:47] #20 closed, assigned to nobody

[2020-04-20 02:40] menggui1993 commented on #5
Thank you for sharing the code!
Could you please share your weights with me too? My email address is
sw_song@hotmail.com
Thank you!

[2020-04-20 05:00] ZXXYy commented on #5
Could you please share the pretrained weights?
My email is zhengxiaoye3980@gmail.com
Thank you so much!

[2020-04-21 02:30] dypromise commented on #21
could you show some results? I use FFHQ only, resized to 256x256, then feed the attrNet whole image, feed the faceIDNet the croped image based on MTCNN crop rule, but I found that after 30epoch the result preserving ‘bang' in src image, in other words, I can't produce clear result like author or this repo. About face crop, I try many options, when crop region is so small, faceID net can not work w

[2020-04-21 10:08] menggui1993 opened #24 "About the Discriminator?"
First, thanks for your great work. I have a question about the discriminator.
In the paper, the author said they used the same multi scale discriminator as the StyleGAN. But I think StyleGAN doesn't use a multi scale discriminator.
In your implementation, you seems to use the multi scale discriminator from pix2pixhd, but you optimized it with a hinge loss. This looks strange to me since the multi

[2020-04-22 03:44] taotaonice commented on #23
leave your email

[2020-04-22 03:51] taotaonice commented on #24
![Screenshot from 2020-04-22 11-50-47](https://user-images.githubusercontent.com/21911551/79938561-884a9380-848f-11ea-81e6-34ef7b2d25c5.png)

[2020-04-22 06:01] ocastan commented on #21
I use VGGface and celebaHQ with a min face size of 200 and pictures with size less than 8k removed. With discriminator update 10 times slower, the discriminator overcome the generator after 30k iterations instead of 10-12k. I'm looking for the best way to calculate L_attr: with Y gradient only, with Xt gradient only and both. No perfect results so far...

[2020-04-23 00:04] shiyingZhang90 commented on #5
@taotaonice Awesome work!
Could you please share your weights with me too? My email address is
zhangshiying90@gmail.com
Thank you!

[2020-04-23 03:53] #24 closed, assigned to nobody

[2020-04-23 06:09] wangliqiang7 commented on #5
Could you please share the pretrained weights?
My email is wangliqiang_97@163.com
Thank you so much!

[2020-04-23 07:26] lzhbrian commented on #5
@taotaonice
Could you share your trained weights? Thank you very much!
My email address is lzhbrian@gmail.com

[2020-04-23 09:19] dcp15 commented on #5
I would appreciate it if you can share the pretrained weight!!  18810221337@163.com . Thank you.

[2020-04-24 13:07] wataincdx commented on #5
@taotaonice
Could you please share the pretrained weights?
My email is    watain@163.com
Thank you so much!

[2020-04-25 08:28] HelloJianHan commented on #5
@taotaonice
Thx! Coule you please send me a copy of your trained weights?
My email is hanj19@mails.tsinghua.edu.cn
Thank you so much.

[2020-04-25 15:50] qtboi commented on #5
Could you please share the pretrained weights?
My email is dr.chilla89@gmail.com
Thank you so much!

[2020-04-26 06:29] HelloJianHan commented on #23
Could you please send me a pretained model?
My email is jianhan.thu@gmail.com

[2020-05-02 03:29] ocastan opened #25 "Line 45 in Dataset.py"
Hello
The way you choose a different image_path for Xt suppose each data_path has roughly the same number of images. If that's not the case, images from the smaller data_paths will appear more often as target. I would rather pick a random number using the full length of the dataset (and even ensuring it's different from item) and find which data_path it belongs to, as in the beginning of the funct

[2020-05-07 03:11] cuonghx-0882 commented on #5
Could you please share your weights with me too? My email address is
cuonghx2709@gmail.com
Thank you so much!

[2020-05-07 09:08] mzmfarid opened #26 "usage guide"
Can You please send me the trained models or at least a usage guide on how to train them.

[2020-05-07 09:44] mzmfarid commented on #5
can you please send me the trained weights as well
mfarid.bscs15seecs@seecs.edu.pk

[2020-05-08 06:59] THTBSE commented on #5
@taotaonice
Could you please share your pre-trained weights?
My email address is fuchilin90@gmail.com
Thank you so much!

[2020-05-08 07:39] Daic115 commented on #23
d214939381@gmail.com,  thanks！

[2020-05-11 10:36] dragen1860 commented on #23
@taotaonice liangqu.long@gmail.com thank you very much.

[2020-05-13 06:04] taotaonice commented on #26
Leave your email address

[2020-05-13 06:22] taotaonice commented on #25
which function?

[2020-05-13 06:23] dragen1860 commented on #26
dragen1860@qq.com @taotaonice  please send me the G  and D pretrained file! Thank you.

[2020-05-13 08:27] ocastan commented on #25
FaceEmbed.\_\_getitem\_\_

[2020-05-13 08:31] taotaonice commented on #25
Yes, you are right

[2020-05-13 08:37] ocastan commented on #25
I can send you a diff once I go back home, if you wish

[2020-05-13 10:31] #26 closed, assigned to nobody

[2020-05-13 15:31] mzmfarid opened #27 "full black image as result"
I am trying to run it on colab. I am saving file in stead of cv2.imshow since colab does not support that.
But it results totally in black image

[2020-05-14 01:46] CHUUUU commented on #23
@taotaonice

lmj5929naver@gmail.com

thank you !!

[2020-05-14 07:01] taotaonice commented on #27
Maybe should *255

[2020-05-14 07:27] ocastan commented on #27
I confirm, I've modified this way inference_demo.py to save the generated image.

[2020-05-14 10:42] #27 closed, assigned to nobody

[2020-05-14 23:15] lo2aayy commented on #23
@taotaonice
lo2aayyguc@gmail.com

Thanks!

[2020-05-15 01:22] by321 commented on #3
Hi,

Is this project still actively being worked on ? I'd like to see a guide on training. My email is by321@hotmail.com.

Thanks, Bo

[2020-05-17 08:39] wenyunqian commented on #5
@taotaonice
Thanks for your sharing, and could you please share your pre-trained weights?
My email address is bhwyq199601@163.com
Thank you so much!

[2020-05-17 13:06] HelloJianHan commented on #27
Using cv2.imwrite you should multiply image by 255 and it will be work.
![image](https://user-images.githubusercontent.com/25529815/82147495-1bee6480-9882-11ea-9cb4-87fbd88e8939.png)

[2020-05-21 10:18] mkaskov commented on #23
@taotaonice
Could you please send me a pretrained model?
max8mob@gmail.com

Thank you.

[2020-05-21 15:51] geekhch commented on #5
@taotaonice
Could you please share the pretrained weights?
My email is geekhch@qq.com
Thank you so much!

[2020-05-22 12:55] simmmis commented on #5
**Thank you for your great job!**

Could you please share your weights?
Cant wait to play around it!
My email address is: simmmis@gmail.com

Thank you!

[2020-05-23 15:33] peanut-wu commented on #5
Could you please share your pre-trained weights?
My email address is sswu@pku.edu.cn
Thank you!

[2020-05-25 06:36] jiusigua commented on #23
@taotaonice
Hi, I‘m studying FaceShifter now. Could you please send me a pretrained model?
my email is: 1515774621@qq.com.   Thanks !
Looking forward to your reply !!!

[2020-05-26 01:53] Mombin opened #28 "HEARnet Dataset??"
Hi, taotaonice.
Thanks for the model you provided.

I ran demo, it worked well.
but when I tried train HEARnet and ran HEARnet demo, I could not find demo.

in your code (train_HEAR.py), It require 3 datasets input(hearnet_data, ego_hands_png, shapenet_png).
but I don't know what is meaning of that specifically. In your paper, these datasets don't need hand_data or shapenet_data. but it require th

[2020-05-29 02:12] CHUUUU commented on #28
@ tatonice
Thank you for providing pretrained 1 stage model !
it works good!
could i get the HEAR_net pretrained model?
i also want to test face occlusion
lmj5929@naver.com
Thanks!

[2020-06-01 01:10] PayloadJF commented on #23
@taotaonice
Could you please send me a pretrained model?
jifan1994@gmail.com
Thank you very much.

[2020-06-09 10:26] GuillaumeTong commented on #5
Could you share your weights with me too?
guillaume.tong@163.com
Thank you!

P.S. it might be simpler for you to share the weight files through google drive instead of having to individually send them with everyone

[2020-06-09 10:36] lzwhard commented on #23
lzwhard@163.com

Tks a lot!

[2020-06-15 18:40] ramgendeploy commented on #5
**Great work!**
Could you please share your weights?
My email: ramaagg3@gmail.com

**Thank you!**

[2020-06-16 12:56] ICTZYQ commented on #5
Hi Taotanice,
Thank you for sharing this implementation.
Could you please share the pretrained weight file?
hitzyq@outlook.com Thank you.

[2020-06-17 03:17] jerry4h commented on #5
Appreciate your great job! @taotaonice ,
Could you share the pretrained weights?
My Email: junrui_h@hust.edu.cn
Thank you.

[2020-06-17 04:42] SCHRODlNGER commented on #23
samanyupobbati@gmail.com
Thanks a lot!!

[2020-06-18 10:08] thuphuong1401 commented on #5
Amazing work @taotaonice
Could you share the pretrained weights with me? My email is thuphuongvu.amser@gmail.com
Thank you very much! Looking forward to hearing from you.

[2020-06-22 08:49] TriLoo commented on #23
songmhor@gmail.com

Thank you very much.

[2020-06-22 10:51] PVSemk commented on #23
pvsemk@mail.ru
Thanks in advance!

[2020-06-22 21:45] CengizhanYurdakul commented on #5
Amazing work @taotaonice
Can you share pretrained model with me?
email: cengizhanyurdakul97@gmail.com
Thank you.

[2020-06-23 09:58] songyoyo commented on #23
Could you please send me a pretrained model?
610240943@qq.com

Thank you very much!

[2020-06-26 09:15] nevidimov commented on #23
@taotaonice
Please share a pretrained model to nevitas0@gmail.com. If possible, both generator model and HEAR dataset. Thank you so much!

[2020-07-01 11:41] luoqiuluoqiu commented on #5
Amazing work @taotaonice
Can you share pretrained model with me?
email: 871602547@qq.com
Thank you.

[2020-07-01 11:43] luoqiuluoqiu commented on #23
Could you please send me a pretrained model?
871602547@qq.com

Thank you very much!

[2020-07-02 01:25] clumsynope commented on #23
@taotaonice
Could you please share your pretrained model to clumsynope@126.com. Thank you!

[2020-07-02 21:07] lo2aayy opened #29 "Different loss functions"
Why are the L_rec and L_att loss functions implemented different than that of the paper?

in the paper L_att, and L_rec are the L2 distance but you do squaring followed by meaning
Shouldn't they be for L2 distance: torch.norm((X - Y),2) instead of torch.mean(torch.pow(X - Y, 2))?
The difference in the loss between them is large.

[2020-07-03 00:19] clumsynope commented on #5
@taotaonice
Could you please share your pretrained model to clumsynope@126.com. Thank you!

[2020-07-06 03:38] mugil123 commented on #23
Hi @taotaonice
Could you please share the pretrained model to mugil123@yahoo.com.
Appreciate it
Thanks

[2020-07-06 14:51] mugil123 commented on #5
@taotaonice Great work ! Coud you please share your pre-trained model to mugil123@yahoo.com
it will be a great start for my academic project. Appreciate it

Thanks

[2020-07-07 14:51] eladrich commented on #5
Hi @taotaonice,
Would love to also get the implementation, appreciate it if you can send it to eladstuff@gmail.com :)

[2020-07-08 13:39] yangxy commented on #5
@taotaonice Could you please share the pretrained weights to yangtao9009@gmail.com. I tried to train the model from scratch, but did not obtain promising results by far. Thank you very much.

[2020-07-17 13:17] ocastan opened #30 "New probability for Xs = Xt for AEI training"
The authors of the original paper have issued a new version in late June, and I noticed they corrected the training strategy of AEI and now Xs Xt are supposed to be different (and not identical anymore) 80% of the time
So same,_prob=0.8 should be changed to 0.2 on line 56 of train_AEI.py
I'm going to try this new value and I'll let you know

[2020-07-17 13:35] koka0630 commented on #23
Could you please share the pretrained model to youmokakan.220.284@gmail.com?
Thank you so much!

[2020-07-19 13:19] tangxuvis commented on #30
hi， what is going on about your new experiments? any progresses？@ @ocastan

[2020-07-19 13:20] tangxuvis commented on #30
i have implemented some perfomance, can we chat on email about more details? @ocastan
my email address: tangxuvis@163.com

[2020-07-19 13:26] tangxuvis commented on #29
i have implemented some perfomance, can we chat on email about more details? @lo2aayy
my email address: tangxuvis@163.com

[2020-07-19 14:29] tangxuvis commented on #7
申请了加群，求加入 @taotaonice

[2020-07-21 05:53] ocastan commented on #30
Hello
My experiment is still running, each batch takes 3s. It has been running for about 80k iterations and the results are not very convincing so far with these new parameters.
Moreover I"ve made numerous modifications:
- gradient accumulation to simulate a batch of 24 samples with a single card
- replaced batchnorm with groupnorm because of the previous
- added gradient penalty (but it looks use

[2020-07-23 14:25] Bo396543018 commented on #23
Can anyone share your pretrained model to chenbo940902@gmail.com？
3Q

[2020-07-28 03:48] wvinzh commented on #5
@taotaonice
 Great work ! Coud you please share your pre-trained model to zh1110@outlook.com
Thanks

[2020-07-28 09:56] wvinzh opened #31 "About the dataset？"
Has anyone downloaded the FFHQ,VGGFace and celeba-HQ dataset? It is too slow to download from the beginning, and many data links are invalid。Thanks a lot!

[2020-07-28 10:10] cyc-luoluo opened #32 "Pre-trained Model"
Could you please send me a pretained model? My email is 2292421230@qq.com. Thanks!

[2020-07-28 11:18] ayush-angelium commented on #23
@taotaonice Can you please share the pretrained model to asharma@noborders.net ?

[2020-07-29 02:13] wvinzh commented on #14
@yfji Have you solved this error? I meat the same error

[2020-07-29 11:26] liangying1026 commented on #23
Can anyone share the pretrained model to ten26angel@gmail.com？
Thanks

[2020-07-31 08:06] yfji commented on #14
@wvinzh Not yet. I have implemented the algorithm myself, but the results are far from the paper.

[2020-08-03 07:08] TsykunovDmitriy commented on #5
@taotaonice
Could you please share your pre-trained weights?
My email address is tsykunov.d@gmail.com
Thank you so much!

[2020-08-03 10:26] sukman commented on #5
@taotaonice
Thank you for your work!
Could you please share your pretrained weights for lena.sukman06@gmail.com?

[2020-08-04 06:00] DIPLZhou commented on #5
@taotaonice
Thank you for your work!
Could you please share your pretrained weights for 1403010228@qq.com?

[2020-08-05 11:54] ayush-angelium commented on #5
@taotaonice @ofirkris
Could you please share your pretrained weights for asharma@noborders.net ?

[2020-08-06 03:12] ganyibo opened #33 "Can you write a readme document to show how to perform this repo ?"
Can you write a readme document to show how to perform this repo ?
I will appreciate it.

[2020-08-06 03:15] ganyibo commented on #23
Can anyone share the pretrained model to gyb15079896285@163.com？
Thanks.

[2020-08-10 09:56] wvinzh opened #34 "RGB error in image reading function?"
https://github.com/taotaonice/FaceShifter/blob/376b09e4ecc97848c07c585f173d10932880f961/utils/Dataset.py#L46

image->opencv->PIL，then the PIL image will be in BGR format, so the model will use this as input. This may influence the arcface feature.

[2020-08-10 15:26] ocastan commented on #34
The original code for arcface do exactly the same thing
See https://github.com/TreB1eN/InsightFace_Pytorch/blob/350ff7aa9c9db8d369d1932e14d2a4d11a3e9553/face_verify.py#L54

[2020-08-12 01:58] wvinzh commented on #34
Thank you so much, I didn't notice that.

[2020-08-12 02:57] wvinzh commented on #29
I think torch.mean should be torch.sum,torch.norm((X - Y),2) is equal to torch.sqrt(torch.sum(torch.pow(X - Y, 2)))

[2020-08-12 17:00] tandohero commented on #5
Could you please send the trained weights to tandohero@gmail.com?

I can upload to google drive/dropbox if you like and share here?

[2020-08-12 17:00] tandohero commented on #23
Could you please send the trained weights to tandohero@gmail.com?

I can upload to google drive/dropbox if you like and share here?

[2020-08-13 07:01] NQWHR commented on #23
@taotaonice Can you please share the pretrained model to 1127079185@qq.com? Thank you very much!

[2020-08-19 05:19] shiluooulihs commented on #5
Could you please share the pretrained weight file?
shiluooulihs@gmail.com. It's my email address, and thank you for sharing the code.

[2020-08-24 07:29] sumanchoudhurynitr commented on #23
@taotaonice : Could you please send the pre-trained model to sumanchoudhury.nitr@gmail.com ? Thank you !

[2020-08-24 08:18] shiluooulihs commented on #23
@taotaonice Could you please send the pre-trained model to 1127901623@qq.com ? Thank you !

[2020-08-24 10:06] tegusi commented on #5
@taotaonice
Could you please share your pretrained weights for tegusi@pku.edu.cn ? Thanks!

[2020-08-24 11:56] nuhpiskin commented on #5
Could you please share weight files? nmpiskin@gmail.com

[2020-08-24 11:58] ysnylmzz commented on #5
Could you please share the pretrained weight file?
My Email: yilmazyasin@yahoo.com
Thank you for sharing the code.

[2020-08-27 07:09] yangyanglisjtu commented on #23
@taotaonice Could you please send the pre-trained model to yangyanglisjtu@outlook.com ? Thank you !

[2020-08-28 01:55] shiluooulihs commented on #28
hi, @CHUUUU , could you share a pretrained 1 stage model? my email is shiluooulihs@gmail.com

[2020-08-28 11:13] shiluooulihs commented on #6
hi, @jucaowei
arcface重新训练时基于什么数据集训练的？图像尺寸，是根据MTCNN裁剪人脸到256x256分辨率下训练吗？

[2020-08-28 12:02] krokodilno commented on #5
would you mind sharing weights with me dolleht90@gmail.com? Tnx in advance

[2020-08-28 16:22] mhmddpkts commented on #16
Discriminator loss is needed for adversarial training. In this code, disc. loss calculated with Xs and Y. If We detach Y, how Disc. give feedback to generator ? I think, Y.detach() should removed.

[2020-08-29 03:58] TheshowN commented on #5
Would you mind also sharing weights with me?
My Email: 651771690@qq.com
Thank you very much!!!

[2020-09-01 03:22] lianyingteng commented on #5
@taotaonice Could you please share the pretrained weight file? Thanks. Email: 1446812025@qq.com

[2020-09-01 12:52] mop commented on #5
Hello, could you please share the pretrained models with me? Thanks. My e-mail address is michael.opitz@icg.tugraz.at

[2020-09-02 08:26] AkiraTOSEI commented on #23
@taotaonice  Hi! Thank you for reproducing the code. I learned a lot. Could you please send the pre-trained model to yosouguy0926@yahoo.co.jp? Thank you !

[2020-09-03 07:41] TheshowN commented on #3
I meet the same question, too. Did you solve it？And how？

[2020-09-03 07:43] TheshowN commented on #3
I meet the same question, too. Did you solve it？And how？

[2020-09-04 03:13] jucaowei commented on #6
原arcface是112x112的大小  具体数据集和说明在mxnet官方的insightface里可以找到，作者没有透露更多的arcface训练的细节，后续我直接用的官方给的训练好的模型

[2020-09-05 11:55] Mohamed209 commented on #23
thanks for the demo , here is my mail , would you please send me the weights to test the model
mohamedmosad209@gmail.com

[2020-09-07 02:59] XLEric commented on #32
Could you please send me a pretained model? My email is koke8756@qq.com
 Thanks!

[2020-09-09 05:39] AlexeiKaplenko commented on #23
@taotaonice
Could you please send me a pretrained model?
xkaple00@gmail.com
Thank you very much.

[2020-09-09 07:38] buzhangjiuzhou commented on #23
@taotaonice
Could you please send me a pretrained model and some detailed description of it?
972161836@qq.com

[2020-09-09 08:49] sywh commented on #23
@taotaonice
Could you please share your pretrained model with me? Thanks a lot!
zl_wol@163.com

[2020-09-09 09:36] JohnGates1985 commented on #23
@taotaonice Could you please send the pre-trained model to hohn.gates1985@gmail.com ? Thank you !

[2020-09-09 19:06] JohnGates1985 commented on #5
Thank you for sharing the code!
@taotaonice  Can you also share your trained weights? My email address is hohn.gates1985@gmail.com Thank you!

[2020-09-12 02:15] xiangliu886 commented on #5
@taotaonice Could you please share the pretrained weight file? Thanks. Email:648960862@qq.com Thank you!

[2020-09-12 02:48] xiangliu886 commented on #23
@taotaonice Could you please send the pre-trained model to 648960862@qq.com? Thank you !

[2020-09-14 05:10] dinhthangbkhn commented on #5
@taotaonice Could you please share the pretrained weight file? Thanks. Email: dinhthangbkhn@gmail.com Thank you so much!

[2020-09-14 08:46] coranholmes commented on #23
@taotaonice Thank you. Could you please send me the pre-trained model too? My email is coran.holmes#gmail.com (please replace # with @)

[2020-09-15 09:03] cisspbru commented on #14
Y

Try to install  Pytorch with Conda, it's should help,
"CUDA error: an illegal memory access was encountered" - decrease your batch size

[2020-09-15 10:53] dinhthangbkhn opened #35 "How many epochs did you set up when training?"
I see that your setting is 2000 epochs. Did you train your model in 2000 epochs?
Thank you, looking forward to hearing from you.

[2020-09-17 05:11] eyetye commented on #23
Could you please send me a pre-trained model?
My email is 1439292242@qq.com
Thanks a lot!

[2020-09-18 13:58] meet-cjli commented on #23
@taotaonice  Could you please send me a pretrained model? my email is: 397923342@qq.com. Thanks !

[2020-09-22 12:12] perc3ptr0n commented on #5
Hi @taotaonice!
Could you please share your weights with me too?
topchievboris97@gmail.com
Thanks in advance!

[2020-09-23 03:16] wjl520 commented on #5
Hi @taotaonice, could you please share the trained weights? Thank you!

My email address is 2064166884@qq.com

Thanks in advance

[2020-09-23 06:37] xuguozhi commented on #23
575760679@qq.com
好人一生平安
A good man will be a lucky man during his whole life

[2020-09-23 11:26] tr0217 opened #36 "Pretrained model"
@taotaonice please could you send me the pretrained model:

tr0217@my.bristol.ac.uk

I can host it to and link it here as many people request this

[2020-09-24 12:07] wgh1989 commented on #23
w_gh1989@126.com
thanks very much!

[2020-09-25 01:51] wjl520 commented on #23
@taotaonice Hi! Thank you for reproducing the code. I learned a lot. Could you please send the pre-trained model to 2064166884@qq.com? Thank you !

[2020-09-25 03:15] wgh1989 opened #37 "可否开源Pretrained model"
hi，你好，
感谢开源，最近也研究了一下FaceShifter，效果真的惊人，也想复现一下效果
我用vggface和FFHQ进行训练的，统一resize到256的，训练机器P40，训练有几天了，效果一直不理想，不清楚问题出在哪里，后面会仔细研读您的代码，找找问问所在
不知道是否可以开源AEI_net和HEAR_net 的 pretrain model，如果不方便开源，是否可以发我邮箱，非常感谢!
w_gh1989@126.com

[2020-09-28 07:17] rubyrosecraft commented on #5
Hi, @taotaonice!
Recently I am learning face swap and am interested to apply it to mobile applications.
Could you please share your weights with me too? My email address is zhangyaru@iie.ac.cn

Thanks a lot for your work!

[2020-10-01 22:47] armheb opened #38 "Pretrained model"
Hi, thanks for your awesome work and sharing. I wanted to test your model I would really appreciate if you could share the pretrained weights. thank you so much.
armheb17@gmail.com

[2020-10-11 06:28] yzy5768 commented on #38
@taotaonice
Awesome work ！can you share the models?  thanks so much!
55811039@qq.com

[2020-10-11 10:33] SajjadAemmi commented on #38
hi, can you share pre-train models?

sajjadaemmi@gmail.com

[2020-10-11 12:42] SajjadAemmi commented on #23
Can anyone share the pretrained model to
sajjadaemmi@gmail.com ？
Thanks.

[2020-10-11 14:15] mozillah commented on #38
Hi, Can you share Pre-train model with me ?
mozillah0096@gmail.com
Thanks in advance.

[2020-10-12 08:21] wjl520 commented on #23
Can anyone share the pretrained model to
jielong688@gmail.com ？
Thanks.

[2020-10-12 09:35] aixm11 commented on #38
hi, can you share the pre-train model?
3027918979@qq.com

[2020-10-12 13:00] caihaunqai commented on #38
hi, can you share the pre-train model?
369454780@qq.com

[2020-10-12 13:02] caihaunqai commented on #38
Hi, if you are reproducing this project, we can talk about the training. My email is 369454780@qq.com

[2020-10-12 13:03] caihaunqai opened #39 "Communicate"
Hi, if you are reproducing this project, we can communicate. My email is 369454780@qq.com. I also have many problems.

[2020-10-13 01:20] lichaomingAI commented on #38
hi, can you share the pre-train model? Thank you.
897437994@qq.com

[2020-10-13 07:40] SajjadAemmi commented on #5
Hi @taotaonice, could you please share the trained weights? Thank you!

My email address is sajjadaemmi@gmail.com

Thanks in advance

[2020-10-13 13:20] mozillah commented on #27
Hi @mzmfarid @taotaonice @JeyesHan @ocastan
can anyone  share the pretrained weights with me?
my email address is mozillah0096@gmail.com.

[2020-10-14 02:58] p517332051 commented on #5
I also want pretrained weights. Thank you! 517332051@qq.com

[2020-10-15 02:23] happyday521 opened #40 "Questions about the training."
Hi, thanks for your great work！I have questions about the training.
1、Given a certain dataset, how to choose the pairs of source/target imgs in the training? Do you randomly pick two images as source and target imgs respectively in each iter? Or do you create the fixed list for pairs of source/target imgs before the training and  train based on this list?
2、Besides，do the genders of each pair of s

[2020-10-16 05:12] arkouda commented on #23
Hey @taotaonice,

Can you share the pretrained model to burnwat3r@gmail.com?
Thanks.

[2020-10-18 06:54] SajjadAemmi commented on #5
@taotaonice
No one sent pretrained weights me????
My email address is sajjadaemmi@gmail.com

[2020-10-22 01:57] zjxgithub commented on #5
Hi, @taotaonice, thanks for sharing the code and model!
Could send me a copy of the trained model? thanks!
My email is zhujunshaw@gmail.com

[2020-10-23 00:46] wei-zhang-thz opened #41 "Performance"
Hi taotao, did you (or have you heard anyone)  reproduced the performance claimed by the original paper?

[2020-10-23 03:29] wjl520 commented on #34
When i want to visualize the images Xs, Xt and Y,  there are nothing i can see. What's wrong, anyone can help me?
![Uploading image.png…]()

[2020-10-24 02:56] alwan1989 commented on #23
@taotaonice
Please share a pretrained model to 185919527@qq.com. If possible, both generator model and HEAR dataset. Thank you so much!

[2020-10-24 16:29] Cyclcrclicly commented on #5
Hello @taotaonice, could you please send me the pretrained models? Email: martinjirigalda@gmail.com thanks in advance!

[2020-10-27 01:48] molo32 opened #42 "Pretrained model"
great job.
Can you send me the pre-trained model to
etebanguitierres@gmail.com

[2020-10-28 06:39] ltskzy commented on #23
Can you share the pretrained model to 617786386@qq.com?
Thanks very much.

[2020-10-28 11:46] rupaai commented on #5
hello @taotaonice could you please share the pre-trained weights, please? labibakanij@gmail.com

[2020-10-28 15:39] kjaleph commented on #42
@taotaonice Please could you send the pre-trained model of both architectures to cu.17bcs1647@gmail.com

[2020-10-29 05:46] kjaleph commented on #23
Please can anybody share pretrained model to cu.17bcs1647@gmail.com
@coranholmes @dragen1860 @eyetye @nevidimov @xiangliu886 @taotaonice

[2020-10-30 01:32] kjaleph commented on #23
Please send me model weights also I want to try it out. cu.17bcs1647@gmail.com thanks !

[2020-10-30 17:32] kjaleph commented on #38
Please share pretrained model. @yzy5768  @armheb @sajjadaemmi  @lichaomingAI  @caihaunqai  @taotaonice to cu.17bcs1647@gmail.com

[2020-11-02 08:27] PlatinumYzm commented on #23
@taotaonice Could you share the pretrained model weights to smile840761772@gmail.com? Thank you very much!

[2020-11-03 02:52] chinasilva commented on #38
hi, can you share the pre-train model? Thank you.
请问能够提供预训练模型吗，谢谢
@taotaonice  www476369545@qq.com

[2020-11-04 01:08] alwan1989 commented on #23
Can you share the pretrained model to 185919527@qq.com?
Thanks.

[2020-11-04 03:09] BIT-wenzi commented on #1
哈喽，能加个好友么 QQ：369941083 我准备复现一下这篇论文，您已经复现了么？

[2020-11-04 22:51] MelosY opened #43 "Pretrained model"
Can you share the pretrained model to 1450848922@qq.com?

[2020-11-12 09:03] superxi commented on #43
Could you send pretrained model to 992409608@qq.com?

[2020-11-16 07:04] yBeOne commented on #5
@taotaonice ,could you please send me the pretrained models? Email: 13261639508@163.com thanks!

[2020-11-19 08:10] happyday521 commented on #5
Hi, @taotaonice, thanks for sharing the code and model!
Could send me a copy of the pre-trained model? thanks!
My email is:  tjlzju@163.com

[2020-11-20 03:09] wangrui5781 commented on #23
@taotaonice  Could you please send me a pretrained model?
605879459@qq.com
Thank you.

[2020-11-20 07:25] xupp1989 commented on #42
great job.
Can you send me the pre-trained model to
xupp@ios.ac.cn

[2020-11-23 07:35] bobleono commented on #42
good job
Can you send me the pre-trained model to lajihuya@163.com

[2020-11-27 10:53] zhangluustb commented on #26
632518615@qq.com @taotaonice @dragen1860  Thank you.please send me the G and D pretrained file!

[2020-11-27 10:56] zhangluustb commented on #43
Could you  please send me the pretrained models to 632518615@qq.com? -_-

[2020-11-30 11:55] hyx07 commented on #43
@taotaonice Hi, thank you for your excellent code! Could you send me the pretrained models to stevenhesz@foxmail.com? Thanks a lot!

[2020-12-03 22:13] deduble commented on #43
Can I get pretrained models yunusemremre@gmail.com @taotaonice

[2020-12-07 05:53] damengdameng commented on #2
hi, have you fixed this problem?

[2020-12-07 06:00] damengdameng commented on #5
hi！ @taotaonice , could you send me the pre-trained weights? thanks a lot!
damengdamengw@163.com

[2020-12-08 07:48] wpc666 commented on #43
你好，Could you send pretrained model to 1945751557@qq.com?

[2020-12-11 07:12] nagadit commented on #5
@taotaonice could you please share the pre-trained weights, please? a.o.nagaev@ya.ru

[2020-12-15 06:51] shorelake commented on #5
Hi @taotaonice, could you please share the trained weights?
My email address is bin.hu.hust@gmail.com

Thanks in advance

[2020-12-16 14:28] ocastan opened #44 "Bad MTCNN detection performance"
IMHO this is due to MTCNN weights trained with RGB images whereas OpenCV use BGR: changing channels order from BGR to RGB before calling detector.align in inference_demo.py or online_preview.py or before calling mtcnn.align_multi in preprocess_images.py (and always restoring BGR after since AEI is trained with BGR images), give me far better face detection

[2020-12-16 18:19] ocastan commented on #34
But that's not the case for MTCNN code reused by arcface original code: face detection performance is not that good #44

[2020-12-23 16:49] ghost opened #45 "Instructions?"
Can someone please write up instructions for using?

Thanks!

[2020-12-27 02:13] liyuxuan89 commented on #36
Have you receive the pretrained weight? @tr0217

[2020-12-27 14:05] ghost commented on #36
No I haven't. Can you send?

Thanks!

On Sat, Dec 26, 2020, 9:13 PM Li Yuxuan <notifications@github.com> wrote:

[2020-12-30 07:09] xiemin0914 commented on #43
Could you send pretrained model to xiemin0914@qq.com? Thanks a lot!

[2021-01-02 04:41] Padmashreeg commented on #5
Hi @taotaonice,
Great work !!!
Thanks for sharing the implementation.

I'm interested in learning about face manipulations and this is one of my research area.
Is it possible to share the pre-trained weights?

Thanks in Advance.

Regards
Padmashree
padmashreeg@gmail.com

[2021-01-05 10:35] amil-rp-work commented on #43
@taotaonice
Hope you are doing well, can you please share the pre-trained models and instructions for usage to amil123123@gmail.com

[2021-01-15 14:05] AndriiHura commented on #43
@taotaonice
Could you please send me the pretrained models to andrii.hura@nure.ua?
Thanks a lot!

[2021-01-18 08:45] syedasara-angelium commented on #42
Hi @taotaonice . Hope you're doing well. I would appreciate if you could send me pre-trained model of both architectures to my email address syedasara.angelium@gmail.com

[2021-01-18 10:57] syedasara-angelium commented on #38
Did anyone get the pre-trained model?
if yes, kindly share it with me
I would be grateful
syedasara.angelium@gmail.com

[2021-01-18 10:59] syedasara-angelium commented on #36
@tr0217
Did  get the pre-trained model?
if yes, kindly share it with me
I would be grateful
syedasara.angelium@gmail.com

[2021-01-18 11:41] payne4handsome commented on #23
@taotaonice
 Share your pretrained model to sunny4handsome@163.com too. Thanks very much!

[2021-01-18 12:20] syedasara-angelium commented on #34
from where did you get the G_latest.pth, D_lastest.pth and model_ir_se50.pth files?

[2021-01-18 16:25] molo32 commented on #42
Did I send someone the models?

[2021-01-18 16:26] molo32 commented on #42
Did someone get the models?

[2021-01-18 16:26] molo32 commented on #43
Did someone get the models?

[2021-01-18 16:30] amil-rp-work commented on #43
@molo32  Nope, I haven't received the models as of now.
@puppet101 @ofirkris Can you please share the received pre-trained models with amil123123@gmail.com . The author seems to be away for some time. Thanks in advance!

[2021-01-18 23:45] molo32 commented on #5
Listen, it seems that the author is absent, someone who has obtained the model is so kind to send it to etebanguitierres@gmail.com
or please upload it to google drive for us to download.

[2021-01-18 23:48] molo32 commented on #43
listen everyone, it seems that the author is absent, someone who has obtained the model is so kind to send it to etebanguitierres@gmail.com
or please upload it to google drive for us to download.

[2021-01-18 23:49] molo32 commented on #42
listen everyone, it seems that the author is absent, someone who has obtained the model is so kind to send it to etebanguitierres@gmail.com
or please upload it to google drive for us to download.

[2021-01-18 23:50] molo32 commented on #38
listen everyone, it seems that the author is absent, someone who has obtained the model is so kind to send it to etebanguitierres@gmail.com
or please upload it to google drive for us to download.

[2021-01-18 23:51] molo32 commented on #38
anyone got the pre-trained models?

[2021-01-18 23:52] molo32 commented on #43
anyone got the pre-trained models? please upload it to google drive for us to download.

[2021-01-20 10:46] ketan4373 commented on #26
25ketan@gmail.com  @taotaonice please send me the G and D pretrained file! Thank you.

[2021-02-02 03:27] iloveOREO commented on #37
你好，我也刚开始看这个FaceShifter，请问您后面复现的效果如何，可以详细说下不理想的问题吗？您有复现的代码和pretrained model方便发我一份吗？892474367@qq.com
非常感谢！

[2021-02-07 14:28] mozillah commented on #38
I am sorry to all for the late reply  i find the same model  from this repository i hope you all will find it out from this repository
https://github.com/richarduuz/Research_Project/tree/master/FaceApp

[2021-02-07 15:13] caihaunqai commented on #38
It's very kind of you. Thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "taotaonice/FaceShifter"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2021年2月7日(星期天) 晚上10:28
收件人:&

[2021-02-07 15:15] mozillah commented on #38
Did you find the model file?
@caihaunqai

[2021-02-07 15:20] caihaunqai commented on #38
YES，I find it! Thank you. Have you test it before?&nbsp; How are its shifted faces qualities?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "taotaonice/FaceShifter"                                                                                    <notifications@githu

[2021-02-07 15:27] mozillah commented on #38
I did not find it much accurate for my result so I left using it. You can try it on your data and let me know whether it works fine for you or not

[2021-02-07 17:06] ghost commented on #38
I don't see the model. What folder is it in?

On Sun, Feb 7, 2021, 10:13 AM caihaunqai <notifications@github.com> wrote:

[2021-02-08 06:46] mozillah commented on #38
You have to use the https://github.com/richarduuz/Research_Project/tree/master/ModelC . This colab notebook  contains the url of the model.

[2021-02-21 04:07] richarduuz opened #46 "Pretrained model weights here."
I've just noticed the requirements of the pretrained model weights. I can provide our group one. Links are below.
[Weight 1](https://drive.google.com/uc?id=15nZSJ2bAT3m-iCBqP3N_9gld5_EGv4kp)
[Weight 2](https://drive.google.com/uc?id=1iANX7oJoXCEECNzBEW1xOpac2tDOKeu9)
In our project, we loaded those weights and had a try on this model. You can have a look at [this repo](https://github.com/richarduu

[2021-02-26 02:46] qdushuaicao commented on #5
非常感谢您能开源代码，请问您代码中的HEAR训练可以正常使用吗？同时能否分享下第一阶段和第二阶段的训练权重。邮箱：caoshuai1994@yeah.net,期待您的回复，谢谢！

[2021-02-27 02:37] lorrp1 commented on #46
@richarduuz nice work, I was looking for something like this but I couldn’t find your repo before

[2021-02-27 13:17] lorrp1 commented on #46
@richarduuz im wondering, is it possible to also swap hair? i have not seen any recent project/paper doing it

[2021-03-05 09:38] leonardodora opened #47 "the result in asian people seems preserve poor identity, is there any solution to improve it?"
maybe use asian face dataset to train FaceShifter and Arcface?
increase the identity loss?
![image](https://user-images.githubusercontent.com/13816743/110096771-41306d00-7dd9-11eb-9627-922b8fbe1538.png)

[2021-03-05 10:04] leonardodora commented on #26
236524279@qq.com @taotaonice
Thank you!
please send me the G/D pretrained file and the usage guide

[2021-03-05 10:07] leonardodora commented on #43
can anyone send me the pre-trained models? thanks a lot!
236524279@qq.com

[2021-03-08 09:29] qdushuaicao commented on #23
Please can anybody share pretrained model to caoshuai1994@yeah.net .Thanks very much!@coranholmes @dragen1860 @eyetye @nevidimov @xiangliu886 @taotaonice

[2021-03-09 05:28] leonardodora commented on #9
hello, i meet with the same problem as yours.
i want to finetune with asian face, so the result of your finetune is as expected?and what dataset you use?
looking forwards to your reply!

[2021-03-09 09:35] leonardodora commented on #28
hi, @CHUUUU  , could you share a pretrained 1 stage model? my email is 236524279@qq.com
thanks a lot!!

[2021-03-10 10:52] Noahz110 commented on #47
i got the same prob with asian face. It blur and i need to enhance the output to get a better result. did you use  weight file from the topic below?

[2021-03-11 02:48] leonardodora commented on #47
yes

[2021-03-11 02:49] leonardodora commented on #47
yes.

[2021-03-12 04:20] iloveOREO opened #48 "AEI-Net train data strategy is different from paper?"
In the paper, the author said " The ratio of training samples that have Xt! = Xs is 80% when training the AEI-Net, it is 50% when training the HEAR-Net. "
But, I noticed that you set `same_prob=0.8` in `class FaceEmbed`, which means that Xt != Xs is 0.2. Is it right?

[2021-03-12 10:47] ocastan commented on #48
See #30 for explanation. You're right you should change the ratio

[2021-03-24 19:26] ghost opened #49 "Why does this only support 256x256?"
Why doesn't the code support high resolutions such as 1024x1024?

[2021-03-26 10:45] NikolayTV commented on #5
I am going for the weights. Thanks :+1:
tolstovnv@gmail.com

[2021-03-26 11:07] p517332051 commented on #5
这辈子别想了。

---Original---
From: ***@***.***&gt;
Date: Fri, Mar 26, 2021 18:45 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [taotaonice/FaceShifter] Trained weights (#5)

I am going for the weights. Thanks 👍
 ***@***.***

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-31 17:40] ocastan commented on #49
Because the paper is about 256x256 images and the network is already large despite using amp.
Maybe you can give face super resolution a try and share your results

[2021-04-05 00:43] ghost commented on #49
How much work would it be to patch the code for 1024x1024?

[2021-04-05 00:45] ghost commented on #49
Also, ocastan, what is your email? I found a few bugs in your fork.

[2021-04-06 06:16] ocastan commented on #49
Hello
Can you be more precise?
Thanks

[2021-04-19 10:35] cz12345cz commented on #42
Can you send me the pre-trained model to 1097746408@qq.com

[2021-04-20 09:48] cz12345cz commented on #28
@ tatonice
Thank you release the code!
could you share a pretrained the HEAR_net pretrained model?
zhengcheng202104@163.com
Thanks!

[2021-04-23 10:38] paridas0813 opened #50 "给我一份Pretrained model 吧，谢谢啦。"
给我一份Pretrained model 吧，谢谢啦。 我的邮箱是1011905359@qq.com,感激不尽

[2021-04-26 23:20] density-11 commented on #28
hi, @CHUUUU , could you share a pretrained 1 stage model? my email is 804507302@qq.com
thanks a lot!!

[2021-04-27 05:07] density-11 commented on #28
hi, @CHUUUU , could you share a pretrained 1 stage model? my email is 804507302@qq.com
thanks a lot!!

[2021-05-08 09:06] LorenzoAgnolucci commented on #46
Hi @richarduuz could you kindly provide the pre-trained "D_latest.pth" model? Please send it to my email lory.agnolucci@gmail.com?

[2021-05-08 09:29] qqwya commented on #23
Can anyone share the pretrained model to
786256773@qq.com ？
Thanks.

[2021-05-08 12:28] qqwya commented on #46
Hi @richarduuz could you kindly provide the pre-trained "D_latest.pth" model? Please send it to my email 786256773@qq.com?
Thanks!

[2021-05-10 06:44] V1len commented on #23
@taotaonice
Could you please send me a pretrained model?
1667150169@qq.com
Thank you very much.

[2021-05-14 08:36] LorenzoAgnolucci commented on #26
@taotaonice @mzmfarid @dragen1860 could you please send me the G and D pre-trained file to lory.agnolucci@gmail.com? Thanks in advance

[2021-05-14 14:17] density-11 opened #51 "Pretained model"
@taotaonice Could you share a pretained model to 804507302@qq.com? Thank a lot!

[2021-05-18 01:46] Penkey-1223 commented on #23
Can anyone  send me a pretrained model?
I need it very much.
@taotaonice
@coranholmes @dragen1860 @eyetye @nevidimov @xiangliu886
Thanks a lot!
1148872693@qq.com     or
lesterlsd@outlook.com

[2021-05-23 13:19] MasterXiYu commented on #23
Could you please send me a pretained model?
My email is 1532940772@qq.com

[2021-05-23 16:14] Penkey-1223 commented on #23
I am sorry to tell you that I haven't received it yet @MasterXiYu

[2021-05-23 16:16] MasterXiYu commented on #23
ok......

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月24日(星期一) 凌晨0:14
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [taotaonice/FaceShifter] Demo (#23)

I am sorry to tell you that I haven't received it yet @MasterXiYu

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscri

[2021-05-23 16:17] Penkey-1223 commented on #23
If you get it, please share it with me. Thanks!@MasterXiYu

[2021-05-23 16:18] MasterXiYu commented on #23
got it,thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月24日(星期一) 凌晨0:17
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [taotaonice/FaceShifter] Demo (#23)

If you get it, please share it with me. Thanks!@MasterXiYu

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe

[2021-05-24 11:47] PMA65 commented on #21
@ocastan could you please share your email

[2021-05-25 05:14] density-11 commented on #46
Hi @richarduuz could you kindly provide the pre-trained "D_latest.pth" model? Please send it to my email 804507302@qq.com?
Thanks a lot!

[2021-05-25 06:47] ocastan commented on #21
@PMA65 why not, can you tell me more?

[2021-05-26 07:19] PMA65 commented on #21
@ocastan Thanks for responding, I'll tell you all details at soulak.9384@gmail.com
please contact as soon as you see this, thank you

[2021-05-26 21:35] ocastan commented on #21
@PMA65 I can't understand why we should leave this public forum and use a private channel to exchange

[2021-06-18 04:08] melody-rain commented on #23
@taotaonice nice work!
Could you please send me a pretrained model?
xiah_sunny@hotmail.com
Thank you very much.

[2021-09-30 09:45] KungFuPandaPro commented on #50
已发

[2021-10-11 01:58] anonymoussss commented on #50
@KungFuPandaPro 层主您好，请问方便分享给我一份pretrained model嘛？我的邮箱是903394428@qq.com，感激不尽。

[2021-10-13 01:27] bumie7758258 commented on #2
@hhhharold Could you please share the pretrained weight file?
 taow58345@gmail.com. It's my email address，Thank you enough.

[2021-10-14 07:29] bumie7758258 opened #52 "请给我一份预训练模型吧，球球了"
给我一份Pretrained model 吧，谢谢啦。 我的邮箱是554635006@qq.com,感激不尽

[2021-10-14 13:02] bumie7758258 commented on #50
请也给我一份吧，我的邮箱是554635006@qq.com

[2021-11-10 06:27] sahngmin commented on #5
Really impressing code! Thanks for your code opened. Could you please share the pre-trained weight file also?
Email: smyoo@rit.kaist.ac.kr Thank you so much!

[2021-11-22 03:31] TianyunYoung commented on #50
@bumie7758258 ，方便也发我一份吗，我的邮箱是794669967@qq.com，球球了

[2021-11-23 08:44] miaomiaoma0703 opened #53 "face swap HifiFace FaceShifter"
Hi,
    I am re-implementing this paper recently, and i don't get the result like original paper. How about your final re-implementation result? I saw that you have also re-implemented HifiFace and your implementation result is good. I have been doing research the related face swap recently. Can you give me some suggestions and tricks? Thank you very much!

[2021-11-25 02:03] TianyunYoung commented on #50
@KungFuPandaPro，您好，方便也分享我一份pretrained model吗，我的邮箱是794669967@qq.com，谢谢了

[2021-11-29 07:48] zhuguangqiang commented on #50
@KungFuPandaPro，您好，方便也分享我一份pretrained model吗，我的邮箱是728598880@qq.com，谢谢了

[2021-12-05 13:11] disguise6 commented on #50
@KungFuPandaPro，您好，方便也分享我一份pretrained model吗，我的邮箱是820292301@qq.com，谢谢了

[2021-12-22 04:54] githubzhaoqian commented on #50
大哥们谁能百度网盘共享一份啊  感激不尽， 最好saved_models里的东西全点的，模型简单训练一个

[2021-12-22 05:50] TianyunYoung commented on #50
@githubzhaoqian @disguise6 @zhuguangqiang @anonymoussss @bumie7758258, this repository provides pretrained model with nice performance. Check out and Try! https://github.com/richarduuz/Research_Project

[2022-01-10 04:19] ssssss937 commented on #50
@KungFuPandaPro，您好，方便也分享我一份pretrained model吗，我的邮箱是[2582833627@qq.com]，谢谢了

[2022-01-10 04:20] ssssss937 commented on #50
您好，方便也分享我一份pretrained model吗，我的邮箱是2582833627@qq.com，谢谢了

[2022-02-28 13:27] alcanunsal commented on #43
I'd be really glad if someone could send me the pre-trained models, thanks in advance! alcanunsal@gmail.com

[2022-02-28 13:37] alcanunsal commented on #23
@taotaonice could you send me the pretained models? alcanunsal@gmail.com Thanks in advance!

[2022-02-28 13:37] MasterXiYu commented on #23
您好，易旭已经收到您的邮件，谢谢。This is an automatic reply, confirming that your e-mail was received.Thank you

[2022-03-24 19:33] zhuravlstrogo commented on #5
Thank you for sharing the code!
Can you also share your well-trained weights? My email address is al.yarulina@gmail.com. Thank you!

[2022-05-27 02:51] cyrala opened #54 "VGGFace2 : error for input size"
When I input images in VGGFace2(512x512), the face detector will return all zero when crop_size set to 256(default 256, I guess that's because it can't detect face after croped as the facial size in a 512x512 image is larger than 256x256 ), and if I change the crop_size to 512, it will show size mismatch. Does this model can't support images in VGGFace2(512x512)?

[2022-05-27 02:56] cyrala commented on #28
hi, @CHUUUU , could you share a pretrained HEAR_net model? my email is 1422529571@qq.com, thanks a lot!

[2022-06-12 13:26] an-zi-li commented on #46
hi,have you received the "D_latest.pth" model? Could you please send me a copy? Thank you.1962431846@qq.com

[2022-06-12 13:36] an-zi-li commented on #5
Have you received the pre-training weights? Could you please send me a copy? Thank you.1962431846@qq.com

[2022-06-12 13:37] LorenzoAgnolucci commented on #46
No, I did not receive it sorry.

[2022-06-17 02:30] kzp828 opened #55 "lossD and loss G are both nan, appear " ZeroDivisionError: float division by zero" error"
# First, thank you for sharing the code,I now foresee a problem in the code train_AEI.py during training
  lossD: nan    lossG: nan batch_time: 1.4538311958312988s
  L_adv: nan L_id: 1.0066417455673218 L_attr: 0.1159457415342331 L_rec: 0.5412249565124512
  Gradient overflow.  Skipping step, loss scaler 0 reducing loss scale to 0.0
  Traceback (most recent call last):
    File "train_AEI.py", line

[2022-10-27 13:14] Tg-12224 commented on #50
方便发我一份吗，我的邮箱是1975915748@qq.com，谢谢了

[2022-10-31 03:28] wl-zhao commented on #50
方便发我一份吗，我的邮箱是1323993164@qq.com，谢谢了

[2022-11-01 08:02] Tg-12224 commented on #50
我也没有啊宝贝

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "taotaonice/FaceShifter"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年10月31日(星期一) 中午11:28
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp

[2022-11-19 06:14] niuyuanc commented on #50
@KungFuPandaPro 您好，方便分享一下pretrained model 可以嘛。我的e-mail是 niuyuanc@163.com。谢谢啦

[2022-11-19 06:15] niuyuanc commented on #50
@empty2enrich 您好，方便分享一下pretrained model 可以嘛。我的e-mail是 [niuyuanc@163.com](mailto:niuyuanc@163.com)。谢谢啦